<section class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1 event-detail">
      <h2 class="event-detail-header">{{ eventInfo.name }}</h2>
      <h4 class="event-detail-subheader text-muted">{{ eventInfo.start|dateFormat }} <span ng-show="eventInfo.end">- {{ eventInfo.end|dateFormat }}</span></h4>
      <div marked="eventInfo.description"></div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-5 event-location">
      <h3>{{ eventInfo.location.name }}</h3>
      <h4>{{ eventInfo.location.street_address }}, {{ eventInfo.location.city }}<span ng-show="eventInfo.location.postal_code">, {{ eventInfo.location.postal_code }}</span></h4>
      <div class="google-maps">
        <iframe width="450"
            height="500"
            frameborder="0" style="border:1px #000 solid"
            ng-src="{{ mapsUrl }}" allowfullscreen >
        </iframe>
      </div>
    </div>
  </div>
</section>

