<section class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <h2 class="title-block title-black">Events</h2>
      <ul class="event-list">
        <li ng-repeat="event in events" class="event-item">
        <i class="fa fa-{{ event.icon }} fa-2x fa-pull-left fa-outline-dark-gray-on-white "></i>
          <div class="event-list-content">
            <strong><h4 class="event-header"><a href="#/events/detail/{{ event.id }}">{{ event.name }}</a></h4></strong><span class="text-muted">{{ event.location.name}}, {{ event.location.city }} -- {{ event.start|dateFormat }} </span>
            <p>{{ event.description }}</p>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>

