<section class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <h2 class="title-block title-black">Axiologue Forums</h2>

      <h3 class="forum-thread-detail-title">{{ thread.subject }}</h3>

      <table class="table forum-post-table">
        <colgroup>
          <col class="col-meta">
          <col class="col-content">
        </colgroup>
        <tr>
          <th>Posted By</th>
          <th>Post</th>
        </tr>
        <tr ng-repeat="post in thread.posts">
          <td>
            <span class="fa-stack pull-left">
              <i class="fa fa-file fa-stack-2x fa-outline-dark-gray-on-white"></i>
              <i ng-if="post.sticky" class="fa fa-lock fa-stack-1x"></i>
            </span>
            <div class="post-meta">
              <span class="text-muted">{{ post.author }}</span><br />
              <em class="text-muted">posted on {{ post.created_date }}</em>
            </div>
          </td>
          <td>
            <div class="post-content" marked="post.text">
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" ng-show="authenticated">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <hr />
      <div ng-hide="showNewPostForm">
        <button class="btn btn-black" ng-click="showPostForm()">Add New Post</button>
      </div>
      <div ng-show="showNewPostForm">
        <form ng-submit="submitPost()">
          <div class="form-group">
            <label for="post-body">Write Your Post</label>
            <textarea class="form-control" id="post-body" ng-model="newPost.text"></textarea>
          </div>
          <input class="btn btn-black" type="submit" name="Post" />
          <button class="btn btn-black" ng-click="cancelNewPost($event)">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</section>
