<section class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <h2 class="title-block title-black">How To Contribute</h2>

      <p>Axiologue is a crowd-sourced project, so our data is built with the help of users like you!  We strive to make the process of contributing to our research as easy as possible, so if you'd like to learn how you could help us make our research <em>even better</em>, keeping reading!</p>

      <p>Axiologue's Data is built using <a href="#/references/all">Sources</a> and <a href="#/tags/all">Tags</a>.  A source represents a reliable, verifiable document (it could be an NGO reporter, a journalistic report, or even a company's own product).  A tag represents one "ethical fact" from a particular source -- a distillation of what we <em>really know</em> from that source.  A source can have multiple tags on it.  Here are the ways you can help us collected data:</p>

      <ul class="fa-ul principles-list">
        <li><i class="fa-li fa fa-lg fa-file-o"></i> <h4>Add An Article</h4> If you find an article/source that has information about the ethics of athletic shoes or the companies that make them, you can <a href="#/references/new">add it here</a></li>
        <li><i class="fa-li fa fa-lg fa-edit"></i> <h4>Add A Tag</h4> Read one of our <a href="#/references/all">Sources</a> and click the <em>Add a Tag</em> button at the bottom of the page to add a Tag.  Ask yourself "what is one verifiable ethical fact in the article that isn't currently in the Axiologue database", and then add a tag that records that fact!</li>
        <li><i class="fa-li fa fa-lg fa-comments"></i> <h4>Join The Discussion</h4> Questions?  Want to talk to other contributors?  Want to give some feedback on the process?  Head to our <a href="#/forum/main">Forums</a> to join the discussion.</li>

      </ul>
    </div>
  </div>
</section>
