/* GENERAL STYLES */

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 100px;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetic, sans-serif;
  font-size: 16px;
}

h1, 
h2, 
h3,
h4,
h5,
h6 {
  font-weight: 550;
  font-family: "fira-sans-2";
}

a {
  color: #000;
}

a:hover, a:focus {
  color: #f05f40;
  text-decoration: none;
}

.heavy {
  font-weight: 700;
}

.btn-white {
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-family: "fira-sans-2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 550;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-white:hover {
  color: #fff;
  background: #f05f40;
}

.btn-black {
  background: none;
  border: 1px solid #000;
  border-radius: 0;
  color: #000;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-black:hover {
  color: #fff;
  background: #f05f40;
}

.title-block {
  text-align: center;
  padding: 10px 30px;
  margin: 50px auto;
  max-width: 600px;
}

.title-black {
  color: #000;
  border: #000 solid 1px;
}

.title-black-filled {
  color: #fff;
  background: #000;
  border: #000 solid 1px;
}

.title-orange-filled {
  color: #fff;
  background: #f05f40;
  border: #000 solid 1px;
}

.title-white {
  color: #fff;
  border: #fff solid 1px;
}

.brand-thumbnail {
  width: 50px;
  height: 50px;
  border: 1px #000 solid;
}

.text-muted a {
  color: #777;
}

.text-muted a:hover {
  color: #f05f40;
  text-decoration: none;
}

.dark-row {
  background: #000;
  color: #ccc;
}

.dark-row h1,
.dark-row h2,
.dark-row h3,
.dark-row h4,
.dark-row h5,
.dark-row h6 {
  color: #ddd;
}

.dark-row a {
  color: #fff;
}

.dark-row a:hover {
  color: #f05f40;
}

section {
  padding-bottom: 40px;
}

#recent {
  padding-bottom: 0;
}

#recent .row {
  padding-bottom: 40px;
}

.fa-outline-white {
  color: #000;
  text-shadow: -1px -1px 0 #fff,
                1px -1px 0 #fff,
               -1px 1px 0 #fff,
                1px 1px 0 #fff;
  margin: 20px 20px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

/* FORM STYLING */

.form-control {
  border-radius: 0;
}

.form-white input[type="text"],
.form-white input[type="first_name"],
.form-white input[type="last_name"],
.form-white input[type="username"],
.form-white input[type="password"],
.form-white input[type="email"] {
  background: rgba(255, 255, 255, .0);
  border: #fff solid 1px;
}

.form-black input[type="text"],
.form-black input[type="first_name"],
.form-black input[type="last_name"],
.form-black input[type="username"],
.form-black input[type="password"],
.form-black input[type="email"] {
  background: rgba(255, 255, 255, .0);
  border: #000 solid 1px;
}

.form-white input::-webkit-input-placeholder {
  color: #ddd !important;
  font-family: "fira-sans-2", "Helvetica Neue", Helvetica, sans-serif;
}

.form-white input:-moz-placeholder { /* Firefox 18- */
  color: #ddd !important;  
  font-family: "fira-sans-2", "Helvetica Neue", Helvetica, sans-serif;
}

.form-white input::-moz-placeholder {  /* Firefox 19+ */
  color: #ddd !important;  
  font-family: "fira-sans-2", "Helvetica Neue", Helvetica, sans-serif;
}

.form-white input:-ms-input-placeholder {  
  color: #ddd !important;  
  font-family: "fira-sans-2", "Helvetica Neue", Helvetica, sans-serif;
}

.form-white .form-control {
  color: #fff;
}

/* NAVBAR STYLING */
.navbar {
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  font-family: "fira-sans-2", "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: rgba(0,0,0,.7);
}

.navbar-default .navbar-nav {
  margin: 18px 40px 18px 0;
}

.navbar-default .navbar-nav > li > a {
  color: rgba(0,0,0,.7);
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgba(240, 95, 64, 1);
}

.navbar-default > .container-fluid .navbar-brand { 
  font-weight: 500;
  color: #000;
  margin: 15px 0 15px 40px;
  font-size: 24px;
  border: 1px solid #000;
  display: block;
  padding: 10px 30px;
  height: auto;
  line-height: normal;
  background: none;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}


.navbar-default > .container-fluid .navbar-brand:hover { 
  color: #fff;
  background: #f05f40;
}

.nav-button {
  margin-left: 20px;
}

.dropdown {
  border: 1px transparent solid;
}

.dropdown.open {
  border: 1px #f05f40 solid;
}

.navbar-default .navbar-nav > .open > a {
  background: #fff;
}

.navbar-default .navbar-nav > .open > a:hover {
  color: #f05f40;
  background: #fff;
}

.navbar-nav > li > .dropdown-menu {
  border: 1px #000 solid;
  -webkit-box-shadow: none;
  box-shadow: none; 
  border-radius: 0;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: -1px;
  }
}

.dropdown-menu > li > a {
  font-weight: 600;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #fff;
  color: #f05f40;
}

.navbar-default .navbar-toggle {
  margin: 26px 20px 26px 0px;
  border-radius: 0;
  border-color: #000;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #f05f40;
}

.navbar-default .navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #000;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

/* LANDING CAROUSEL STYLING */

.carousel-wrapper {
}

.col-carousel {
  padding: 0;
}

#carousel-landing,
.carousel-inner,
.carousel-inner .item {
  min-height: 600px;
}

.carousel-inner .item {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.carousel-caption {
  padding: 0 30px 30px 30px;
}

.caption-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}

.caption-bottom h3 {
  margin-top: 0;
  margin-bottom: 15px;
}



.caption-right {
  position: absolute;
  right: 5%;
  top: 50%;
  bottom: auto;
  left: auto;
  width: 90%;
}

.carousel-caption-search {
  transform: translateY(-58%);
}

.caption-squares {
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .caption-right {
    position: absolute;
    right: 10%;
    width: 70%;
  }
}

@media (min-width: 992px) {
  .caption-right {
    position: absolute;
    right: 10%;
    width: 700px;
  }
}

.caption-right h2 {
  text-align: left;
}

.caption-right .caption-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.carousel-caption .input-group-btn .btn {
  border-radius: 0;
  background: none;
  border: #fff solid 1px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.carousel-caption .input-group-btn .btn:hover {
  background: #f05f40;
  color: #fff;
}


.squares-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.carousel-square {
  display: inline-block;
  border: 1px #fff solid;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  background: rgba(240, 95, 64, 0);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  vertical-align: top;
}

.carousel-square a {
  color: #fff;
  display: inline-block;
}

.carousel-square h3 {
  font-weight: 600;
  margin-top: 23px;
  font-size: 18px;
}

@media (min-width: 992px) {
  .carousel-square {
    width: 150px;
    height: 150px;
    padding: 15px;
  }

  .carousel-square h3 {
    margin-top: 30px;
    font-size: 24px
  }
}

.carousel-square:hover {
  background: rgba(240, 95, 64, 1);
}

.carousel-square:hover a,
.carousel-square a:focus {
  text-decoration: none;
}

.carousel .carousel-indicators li {
  border-radius: 0;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 1px;
  background-color: #f05f40;
}

.carousel-indicators li:hover {
  background: #fff
}

.carousel-indicators li.active:hover {
  background-color: #f05f40;
  cursor: default;
}

.carousel-control {
  width: 10%;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
  filter: none;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}


.carousel-control .fa,
.carousel-control .fa {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control.left .fa {
  left: 10%;
}

.carousel-control.right .fa {
  right: 10%;
}

/* RECENT LIST STYLING */

.recent-list {
  list-style: none;
  padding: 0 0 0 20px;
}

.recent-list li {
  display: block;
  margin: 20px auto;
}

.recent-list img {
  float: left;
  margin-right: 15px;
}

.recent-list .recent-button {
  margin-top: 40px;
}

.recent-header {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 16px;
}

.recent-header-large {
  font-size: 18px;
}

.recent-subheader {
  margin-top: 0;
}

.recent-list .fa-border {
  border: 1px #000 solid;
  border-radius: 0;
}

/* FAQ STYLING */

.panel-group {
  margin-top: 50px;
}

.panel-group .panel {
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: none;
}

.panel-default > .panel-heading {
  border-color: #000;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

h4.panel-title {
  font-weight: 600;
}

.panel-open > .panel-heading {
  box-shadow: none;
}


.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #000;
}

.panel-collapse a {
  text-decoration: underline;
}

.panel a:focus {
  color: #000;
}

.fa-ul li {
  margin-bottom: 10px;
}

/* LANDING FOOTER STYLING */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  padding-bottom: 10px;
  height: 100px;
}

footer h3 {
  color: #fff;
}


footer .fa:hover {
  color: #f05f40;
}

/* COMPANY/PRODUCT DETAIL PAGE STYLING */

.detail-logo {
  display: block;
  margin: 50px auto 0;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  padding: 15px;
}

.detail-title {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 300px
}

.detail-supplement {
  margin: 10px auto;
  width: 300px;
  text-align: left;
}

@media (min-width: 768px) {
  .detail-logo {
    margin: 50px 0 0 40px;
  }

  .detail-title {
    text-align: center;
    margin-left: 40px;
  }
  
  .detail-supplement {
    margin-left: 40px; 
  }
}

/* SCORE CHART STYLING */

.score-chart-header {
  margin-left: 0; 
}

@media (min-width: 768px) {
  .score-chart-header {
    margin-left: 70px; 
  }
}

.negative-back {
  fill: #ccc;
}

.score-title {
  margin-bottom: 0
}

.horizontal-bar {
  stroke: #000;
  stroke-width: 1px;
  fill: rgba(240, 95, 64, 1);
}

.horizontal-bar.Generic-Conservative {
  stroke: rgb(255, 0, 0);
  fill: rgba(255, 0, 0, .2);
}

.horizontal-bar.Generic-Liberal {
  stroke: rgb(0, 0, 255);
  fill: rgba(0, 0, 255, .2);
}

.horizontal-bar-title {
  font-weight: 600;
  font-size: 16px;
}

.horizontal-bar-title-rect {
  fill: rgba(0, 0, 0, .05);
  stroke: #000;
  stroke-width: 1px;
}

.chart:first-child .horizontal-bar-title-rect {
  fill: rgba(0, 0, 0, .3);
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #aaa;
  stroke-dasharray: 2,2;
}

.whiteout {
  stroke: #fff;
  fill: #fff;
  stroke-width: 1px;
}

.score-text {
  fill: #000;
}

.score-text.Generic-Liberal {
  fill: #00F;
}

.score-text.Generic-Conservative {
  fill: #F00;
}

/* LEGEND STYLING */

.bar-legend {
  display: block;
  margin: 50px auto 20px;
  border: 1px solid #000;
}

@media (min-width: 768px) {
  .bar-legend {
    margin-left: 40px;
  }
}

/* TAG LIST STYLING */

.tag-list ul {
  list-style: none;
}

.tag-list li {
  display: block;
  margin-bottom: 20px;
}

.tag-list .tag-list-icon {
  border: none;
  border-radius: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

.tag-list-icon i {
  margin: 2px auto;
  display: block;
  text-align: center;
}

.tag-list .tag-type {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.tag-list a {
  color: #aaa;
}

.tag-list .no-data {
  color: #aaa;
}

.tag-list .no-data a {
  text-decoration: underline;
  color: #aaa;
}

.tag-list .no-data a:hover {
  text-decoration: underline;
  color: #f05f40;
}

.tag-block {
  display: block;
  margin-bottom: 10px;
}

.tag-detail-content {
  width: 100%;
  border: 1px solid #999;
  padding: 10px 30px;
}

.tag-list dt {
  width: 80px;
}

.tag-list dd {
  margin: 10px 0 10px 100px;
}
